<div class="main users-new">
  <div class="container">
    
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
         <% end %>
       <%= form_tag("/users/create") do %>

         <p>ユーザー名</p>
         <input name="name" value="<%= @user.name %>">
         <p>メールアドレス</p>
         <input name="email" value="<%= @user.email %>">
         <p>パスワード</p>
         <input type="password" name="password" value="<%= @user.password %>">
        <div class="sex-field">
          <%= label_tag :name, "性別" %>
          <%= select_tag :sex,  options_for_select({選択してください: 0, 男性: 1 , 女性: 3}, 0), include_blank: true %>
       </div>
       <div class="sample">
        <p>パーソナルトレーナーの方はこちらをチェックしてください</p>
        <input id="page_freezeflag" name="trainer" type="checkbox" value="true" />
       </div>
        <input type="submit" value="新規登録">
     <% end %>
      </div>
    </div>
  </div>
</div>
