<%= form_for @contact do |f| %>

  <div class="form-group">
    <%= f.label :email, 'h.9.19@docomo.ne.jp' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

 <div class="form-group">
   <%= f.label :message, 'お問い合わせ内容' %>
   <%= f.text_area :message, size: '10x10', class: 'form-control' %>
 </div>

  <%= f.submit '送信' %>

<% end %>
